.playerImage {
    width: 540px;
    height: 540px;
    position: relative;
    background: linear-gradient(
        rgba(38, 38, 38, 0.9), 
        rgba(128, 128, 128, 0.45)
      );
    background-position: center;
    border: 1px solid white;
}

.bodyParts {
    position: absolute;
    top: 0;
    left: 0;
}

.bodyPartsRev {
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    left: 0;
}

.playerContainer {
    width: 640px;
    text-align: left;
}

.playerContainer p {
    font-size: smaller;
    margin-bottom: 0rem;
    margin-top: 0rem;
}